@import "/home/partha/.cache/Matugen/colors.css";

window#osd {
	border-radius: 25px;
	border: none;
	color: none;
	background: alpha(@text, 0.9);

	#container {
		margin: 16px;
	}

	progressbar:disabled,
	image:disabled {
		opacity: 0.5;
	}
}
