window#osd {
  border-radius: 999px;
  border: 20px;
  border-color: #86A9F1;
  background: #7287fd;

  #container {
    margin: 16px;
  }

  image,
  label {
    color: #7dc4e4;
  }

  progressbar:disabled,
  image:disabled {
    opacity: 0.5;
  }

  progressbar {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none;
  }
  trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #8bd5ca;
  }
  progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #ca9ee6;
  }
}
