.config/tmux/plugins/
.config/nvim/lazy-lock.json
.config/nvim/pluginlist
.config/nvim/lua/plugins/.extraplugs
.config/btop/btop.log
.config/Code/*
.config/Code/User/History/
.config/Code/User/globalStorage/
.config/Code/User/workspaceStorage/
.stow-local-ignore

# Allow tracking of the User directory inside Code
!.config/Code/User/

# Allow tracking of the User directory inside Code
!.config/Code/User/keybindings.json
!.config/Code/User/settings.json
