@import "colors-waybar.css";


* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: bold;
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: transparent;
}

#workspaces button {
  border-radius: 9px;
  margin: 3px 0px 3px 0px;
  padding: 0px 2px;
  color: @color3;
  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
  background: @color12;
  color: @color0;
  margin: 3px 3px 3px 3px;
  padding: 0px 4px;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.20s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background: @color12;
  color: @color0;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#tray menu * {
  min-height: 16px;
}

#tray menu separator {
  min-height: 10px;
}

#custom-arch {
  background: @background;
  color: #1793d1;
  font-size: 20px;
  margin: 4px 0px ;
  padding-left: 1px;
  transition: color 0.1s;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#memory,
#temperature,
#network,
#custom-notification,
#custom-powermenu,
#power-profiles-daemon,
#pulseaudio,
#tray,
#workspaces,
#custom-player,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
  background: @background;
  opacity: 1;
  margin: 4px 0px 4px 0px;
  padding:0px 4px;
}

#backlight {
  color: @color4;
}

#battery {
  color: @color4;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#clock {
  color: @color5;
}

#cpu {
  color: @color6;
}

#memory {
  color: @color6;
}

#temperature {
  color: @color6;
}

#network {
  color: @color4;
}

#network.disconnected {
    color: #e78284;
}

#custom-notification {
  color: @color4;
}

#custom-powermenu {
  color: @color11;
}

#power-profiles-daemon.balanced {
  color: @color12;
}

#power-profiles-daemon.performance {
    color: #e78284;
}

#power-profiles-daemon.power-saver {
    color: #40a02b ;
}

#pulseaudio {
  color: @color4;
}

#tray {
  color: @color4;
}

#workspaces {
  padding: 0px;
}

#custom-r_end {
  border-radius: 0px 21px 21px 0px;
  margin-right: 8px;
  padding-right: 1px;
}

#custom-l_end {
  border-radius: 21px 0px 0px 21px;
  margin-left: 9px;
  padding-left: 1px;
}

#custom-sr_end {
  border-radius: 0px;
  margin-right: 9px;
  padding-right: 3px;
}

#custom-sl_end {
  border-radius: 0px;
  margin-left: 9px;
  padding-left: 3px;
}

#custom-rr_end {
  border-radius: 0px 7px 7px 0px;
  margin-right: 9px;
  padding-right: 3px;
}

#custom-rl_end {
  border-radius: 7px 0px 0px 7px;
  margin-left: 9px;
  padding-left: 3px;
}

#custom-player {
  font-family: "JetBrainsMono Nerd Font";
  background: @background;
  font-size: 14px;
  color: @color14;
  box-shadow: none;
  text-shadow: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

#custom-previous,
#custom-playPause,
#custom-next {
  background: @background;
  color: @color14;
  margin-top: 5px;
  margin-bottom: 5px;
}

#custom-previous {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 8px;
}
