*{
	border-radius: 10px;
	border: none;
	border-color: red;
	font-size:18px;
}

window {
	background-color: #1e1e2e;
	color: white;
}

#scroll{

}

#entry:selected{

}

#text:selected{
	color: #333333;
}

#input{
	color: white;
	background-color: #1e1e2e;
}

#scroll{

}


